# Importing Libraries

In [8]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import warnings

# import module Scikit-Learn provides functions for splitting data into training and test sets
from sklearn.model_selection import train_test_split

warnings.filterwarnings('ignore')

# Importing Dataset

In [3]:
# Importing the dataset
dataset = pd.read_csv('student_performance_dataset.csv')

In [4]:
# Loking at the dataset
dataset.head(100)

    Hours_Studied  Hours_Sleep  Caffeine_Intake Stress  Exam_Score
0            22.5          4.9                4     No        94.1
1            19.3          6.4                5     No        96.2
2            23.2          6.5                5     No        85.8
3            27.6          5.8                1    Yes        99.8
4            18.8          6.8                0    Yes        83.5
..            ...          ...              ...    ...         ...
95           12.7          7.6                3     No        78.6
96           21.5          5.7                4     No        88.2
97           21.3          7.2                3    Yes        83.5
98           20.0          7.1                0     No        92.0
99           18.8          5.3                0     No        90.7

[100 rows x 5 columns]

In [7]:
dataset.describe(include='all') # ummary overview of dataset

        Hours_Studied  Hours_Sleep  Caffeine_Intake Stress  Exam_Score
count      100.000000   100.000000       100.000000    100  100.000000
unique            NaN          NaN              NaN      2         NaN
top               NaN          NaN              NaN     No         NaN
freq              NaN          NaN              NaN     68         NaN
mean        19.484000     7.009000         1.940000    NaN   88.735000
std          4.540541     1.378998         1.625678    NaN    7.518037
min          6.900000     4.100000         0.000000    NaN   61.300000
25%         17.000000     5.800000         1.000000    NaN   83.850000
50%         19.350000     7.100000         2.000000    NaN   88.600000
75%         22.050000     7.825000         3.000000    NaN   93.950000
max         29.300000    10.000000         8.000000    NaN  100.000000

In [9]:
# Looking at unique values
dataset.nunique()

Hours_Studied      79
Hours_Sleep        45
Caffeine_Intake     7
Stress              2
Exam_Score         72
dtype: int64

In [10]:
#display sum of miss value per column
print("\n","Missing Values per column", dataset.isnull().sum())

#Total 
print("\n","Total:", dataset.isnull().sum().sum())

#display total percentage
print("\n", np.round(dataset.isnull().sum().mean(), 4), " % Total percentage of missing values")

 Missing Values per column Hours_Studied      0
Hours_Sleep        0
Caffeine_Intake    0
Stress             0
Exam_Score         0
dtype: int64

 Total: 0

 0.0  % Total percentage of missing values

In [24]:
# 1. Convert categorical 'Stress' to numerical (Yes=1, No=0) like 'Stress_Yes' and 'Stress_No' containing 0s and 1s
dataset['Stress'] = dataset['Stress'].map({'Yes': 1, 'No': 0})

# 2. Iterate through each column to calculate statistics
for column in dataset.columns:
    print(f"--- Statistics for {column} ---")
    
    # Calculate Mean, Median, and Mode
    mean_val = dataset[column].mean()
    median_val = dataset[column].median()
    mode_val = dataset[column].mode()[0]
    
    # Print the results
    print(f"Mean:   {mean_val:.2f}")
    print(f"Median: {median_val:.2f}")
    print(f"Mode:   {mode_val}")
    print("-" * 30)

--- Statistics for Hours_Studied ---
Mean:   19.48
Median: 19.35
Mode:   17.7
------------------------------
--- Statistics for Hours_Sleep ---
Mean:   7.01
Median: 7.10
Mode:   7.3
------------------------------
--- Statistics for Caffeine_Intake ---
Mean:   1.94
Median: 2.00
Mode:   1
------------------------------
--- Statistics for Stress ---
Mean:   0.32
Median: 0.00
Mode:   0
------------------------------
--- Statistics for Exam_Score ---
Mean:   88.74
Median: 88.60
Mode:   100.0
------------------------------

# Descriptive statistics